/* index css */
:root{
    --font-robote: "Poppins", sans-serif;
    --font-mon: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.heading h2{
    position: relative;
    font-family: var(--font-mon);
    font-size: 40px;
    font-weight: 900;
    color: rgb(52, 52, 52);
    z-index: 55;
}
.heading h2::before{
    content: "";
    position: absolute;
    width: 20%;
    height: 75%;
    left: 40%;
    right: 0;
    top: 30%;
    background-image: url(../imgs/dots.png);
    z-index: -1;
}
.contact h2::before{
    width: 21%;
    left: 39%;
}
.our-team h2::before{
    width: 19%;
    left: 40%;
}
.clients h2::before{
    height: 35%;
    top: 65%;
    width: 25%;
    left: 37%;
}
.portofolio h2::before{
    top: 37%;
}
.services h2::before{
    width: 17%;
    left:41% ;
}

/*home*/
.home{
    background-image: url("./pexels-thirdman-8482865.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.home .container-fluid{
    z-index: 999;
}
.home .layer{
    background-color: rgba(0, 0, 0, 0.63);
}
.home .icons i{
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 35px;
    height: 35px;
    font-size: 12px;
}
.home .content h2{
    font-family: var(--font-mon);
    font-weight: 800;
    font-size: 50px;
}
.home .content h3{
    font-family: var(--font-mon);
    font-weight: 200;
    font-size: 40px;
}
.home .content h3::after{
    content: "";
    font-weight: 500;
    animation: header-animation 5s infinite;
}
@keyframes header-animation {

  /* Duplix */
  0%   { content: "|"; }
  4%   { content: "D|"; }
  8%   { content: "Du|"; }
  12%  { content: "Dup|"; }
  16%  { content: "Dupl|"; }
  20%  { content: "Duplix|"; }

  /* Construction */
  26%  { content: "Duplix C|"; }
  30%  { content: "Duplix Co|"; }
  34%  { content: "Duplix Con|"; }
  38%  { content: "Duplix Cons|"; }
  42%  { content: "Duplix Constr|"; }
  46%  { content: "Duplix Constru|"; }
  50%  { content: "Duplix Construct|"; }
  54%  { content: "Duplix Constructi|"; }
  58%  { content: "Duplix Construction|"; }

  /* & Development */
  62%  { content: "Duplix Construction &|"; }
  66%  { content: "Duplix Construction & D|"; }
  70%  { content: "Duplix Construction & De|"; }
  74%  { content: "Duplix Construction & Dev|"; }
  78%  { content: "Duplix Construction & Devel|"; }
  82%  { content: "Duplix Construction & Develop|"; }
  86%  { content: "Duplix Construction & Developme|"; }
  90%  { content: "Duplix Construction & Development|"; }

  /* Pause */
  94%  { content: "Duplix Construction & Development|"; }

  /* Delete smoothly */
  97%  { content: "Duplix|"; }
  100% { content: "|"; }
}


/* ================== NAVBAR (FIXED + SAME AS ABOUT) ================== */
.navbar{
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar-brand{
    font-family: var(--font-mon);
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.navbar-nav .nav-link{
    position: relative;
    display: inline-block; /* underline يبقى تحت الكلمة */
    font-family: var(--font-robote);
    font-weight: 400;
    font-size: 14px;
    color: black !important;
    padding: 5px 0;
}

/* underline */
.navbar-nav .nav-link::before{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.4s ease;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before{
    width: 100%;
}

/*footer*/
.end{
    background-color: rgb(146, 179, 240);
    margin: 0;
    color: white;
    font-size: 16px;
    word-spacing: 3px;
}





.navbar-brand{
  display: flex;
  align-items: center;
  padding: 0;
}

/* logo image */
.navbar-logo{
  height: 45px;        /* أهم سطر */
  width: auto;
  object-fit: contain;
}
@media (max-width: 991px){
  .navbar-logo{
    height: 38px;
  }
}